body,
h1,
p {
   margin: 0;
   padding: 0;
}

.title {
   font-size: 24px;
   margin: 20px;
   text-align: center;
}

.container {
   display: grid;
   grid-template-columns: 1fr 4fr;
   border: 2px solid grey;
   height: 100vh;
}

.main-page {
   display: grid;
   grid-template-rows: 1fr 4fr;
   border: 2px solid grey;
   background-color: rgb(55, 42, 243);
}

.task_container {
   padding: 20px;
   display: flex;
   flex-direction: column;
   margin-right:20vw;
   margin-left: 50px;
   gap: 20px;
   background-color: rgb(235, 197, 197);
   border: 3px solid rgb(235, 197, 197);
   border-radius: 10px;
}

.project_list {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.task_container .add_button {
   flex-grow: 0;
}
.project {
   font-size: 24px;
   font-weight: bold;
   color: red;
   /* background-color: red; */
}

.task {
   padding: 10px;
   border: 2px solid rgb(161, 168, 202);
   border-radius: 12px;
}
.add_button, .form button {
   height: 30px;
   width: 100px;
   border: 2px solid rgb(110, 110, 235);
   border-radius: 5px;
   background-color: rgb(153, 204, 228);
}
.todo {
   padding: 35px;
   background-color: rgb(123, 123, 214);
   text-align: center;
   font-size: 24px;
   font-weight: bold;
   border: 2px solid rgb(123,123,214);
   border-radius:10px;
}
.sidebar {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 20px;
   font-size: 20px;
   align-items: center;
   justify-content: top;
   background-color: rgb(133, 248, 122);
}
.form {
   display:grid;
   grid-template-columns: 1fr 1fr;
   align-items: flex-start;
   justify-content: center;
   gap:10px;
   padding-right: 100px;   
}
.form input {
   border:2px solid rgb(235, 197, 197);;
   border-radius: 5px;
}
.form button {
   width: 80px;

}