body,
h1,
p {
   margin: 0;
   padding: 0;
}

.title {
   font-size: 24px;
   margin: 20px;
   text-align: center;
}

.container {
   display: grid;
   grid-template-columns: 1fr 4fr;
   border: 2px solid grey;
   height: 99vh;
   background-color: #000000;
   color:white;
}

.main-page {
   display: grid;
   grid-template-rows: 1fr 4fr;
   border: 2px solid grey;
   background-color: black;
   gap:10px;
}

.task_container {
   padding: 20px;
   display: flex;
   flex-direction: column;
   margin-right:20vw;
   gap: 20px;
   background-color: rgb(226, 136, 136);
   border: 3px solid #b4121b;
   border-radius: 10px;
   /* justify-self: center; */
}

.project_list {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.task_container .add_button {
   flex-grow: 0;
}
.project {
   font-size: 24px;
   font-weight: bold;
   color: black;
   /* background-color: red; */
}

button {
   background-color: rgb(153,204,228);
   border: 2px solid rgb(110,110,235);
   color: black;
}
button:hover {
   background-color: rgb(153,255,255);
}
.task {
   display: flex;
   padding: 10px;
   border: 2px solid rgb(161, 168, 202);
   background-color: rgb(231, 164, 164);
   border-radius: 12px;
   gap: 7px;
   white-space: pre-line;
   color: black;
}
.task:hover {
   background-color: rgb(216, 21, 21);
   opacity: 100%;
}
.task div {
   margin-right:auto;
}
.add_button, .form button , .edit_form button{
   height: 30px;
   width: 100px;
   border-radius: 5px;
}
.todo {
   padding: 35px;
   background-color:  #b4121b;
   text-align: center;
   align-self: center;
   font-size: 24px;
   font-weight: bold;
   border: 2px solid #b4121b;
   color: white;
}
.sidebar {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 20px;
   font-size: 20px;
   align-items: center;
   justify-content: top;
   background-color: #111111;
}
.form , .edit_form{
   display:grid;
   grid-template-columns: 1fr 1fr;
   align-items: flex-start;
   justify-content: center;
   gap:10px;
   padding-right: 100px;   
}
.form input {
   border:2px solid rgb(235, 197, 197);
   border-radius: 5px;
}
.form button {
   width: 80px;

}